body {
  /* Shorthand: image path, center alignment, no tiling, and fixed attachment */
  background: url('https://img.freepik.com/free-vector/colorful-gradient-abstract-background-vibrant-fluid-wave-pastel-neon-design_343694-4585.jpg?semt=ais_hybrid&w=740&q=80') no-repeat center center fixed; 
  background-size: cover; 
}

h1 {
    text-align: center;
    color: #333;
    font-family: Arial;
    color: black;
}

#form-container {
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5%;
    background: linear-gradient(to right, pink, rgb(231, 15, 231));
}

label {
    display: block;
    margin-bottom: 5px;
    color:black;
}

#city {
    padding: 4px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
}

#submit-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset-btn {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}

#credentials > input {
    padding : 8px;
    margin-bottom: 20px;
    color: #555;
}