body {
  /* Shorthand: image path, center alignment, no tiling, and fixed attachment */
  background: url('https://cdn.pixabay.com/animation/2025/02/06/17/23/17-23-54-364_512.gif') no-repeat center center fixed; 
  background-size: cover; 
}

h1 {
    text-align: center;
    color: #333;
    font-family: Arial;
    color: black;
}

#form-container {
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5%;
    background-color:lightyellow;
}

label {
    display: block;
    margin-bottom: 5px;
    color:black;
}

#city {
    padding: 4px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
}

#submit-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset-btn {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#credentials > input {
    padding : 8px;
    margin-bottom: 20px;
    color: #555;
}